/* -------------------------------------------------------------------------
 *
 * Block - Tabs - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--tabs-list-border-width: 3px;
	--tabs-list-scrollbar-offset: var(--spacer-20);
	--tabs-list-border: var(--color-border-secondary);
	--tabs-tab-active-color: var(--color-blue);
	--tabs-tab-active-border: var(--color-blue);
}

:--dark-themes {
	--tabs-list-border: var(--color-neutral-50);
	--tabs-tab-active-color: var(--color-white);
	--tabs-tab-active-border: var(--color-white);
}

:--brand-theme {
	--tabs-list-border: var(--color-dark-blue);
	--tabs-tab-active-color: var(--color-white);
	--tabs-tab-active-border: var(--color-white);
}
