/* -------------------------------------------------------------------------
 *
 * Block - Location Map - Styles - Editor
 *
 * ------------------------------------------------------------------------- */

.b-location-map__map {
	min-height: 400px;
}
