/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tabs - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--vertical-tabs-border-color: var(--color-black-20);
	--vertical-tabs-border-selected-color: var(--color-blue);
	--vertical-tabs-title-selected-color: var(--color-blue);
	--vertical-tabs-editor-grab-icon-color: var(--color-black);
	--vertical-tabs-editor-grab-icon-hover-color: var(--color-neutral-80);
	--vertical-tabs-editor-delete-icon-color: var(--color-alert-error);
	--vertical-tabs-editor-delete-icon-hover-color: var(--color-alert-error-dark);
}

:--dark-themes {
	--vertical-tabs-border-color: var(--color-white-20);
	--vertical-tabs-border-selected-color: var(--color-white);
	--vertical-tabs-title-selected-color: var(--color-white);
	--vertical-tabs-editor-grab-icon-color: var(--color-white);
	--vertical-tabs-editor-grab-icon-hover-color: var(--color-neutral-20);
	--vertical-tabs-editor-delete-icon-color: var(--color-white);
	--vertical-tabs-editor-delete-icon-hover-color: var(--color-neutral-20);
}
