/* -------------------------------------------------------------------------
 *
 * Block - Group - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-group {

	/* CASE: Has Transparent Background */
	&.has-transparent-background {
		background-color: transparent !important;
	}
}
